version: '2'
services:
  database:
    container_name: dhis2-database
    image: pgracio/dhis2-db:${DB_TAG}
    environment:
      POSTGRES_USER: dhis
      POSTGRES_PASSWORD: dhis
      POSTGRES_DB: dhis
      POSTGRES_DB_TARGET: dhis-target
      PG_DATA: /var/lib/postgresql/data/pgdata
  web:
    container_name: dhis2-web
    image: dhis2/dhis2-web:${WEB_TAG}
    environment:
      JAVA_OPTS: "-Xmx1024m -Xms2048m"
      POSTGRES_DB: dhis
    links:
      - database
    ports:
      - "8085:8080"
    depends_on:
      - database
    entrypoint: ./wait-for-it.sh -t 0 database:5432 --
    command: catalina.sh run # https://github.com/docker/compose/issues/3140
  web-target:
    container_name: dhis2-web-target
    image: dhis2/dhis2-web:${WEB_TAG}
    environment:
      JAVA_OPTS: "-Xmx1024m -Xms2048m"
      POSTGRES_DB: dhis-target
    links:
      - database
    ports:
      - "8095:8080"
    depends_on:
      - database
    entrypoint: ./wait-for-it.sh -t 0 database:5432 --
    command: catalina.sh run # https://github.com/docker/compose/issues/3140
  api-tests:
    container_name: dhis2-api-tests
    build: .
    image: dhis2/dhis2-api-tests
    environment:
      # TODO: DHIS_HOST_TARGET
      # TODO: DHIS_PORT_TARGET
      DHIS_HOST: web
      DHIS_PORT: 8080
    links:
      - web
      - web-target
    depends_on:
      - web
      - web-target
    entrypoint: dockerize -wait http://web:8080 -timeout 10m